<div class="container-fluid p2 bg-primary text-white">
    <div class="row">
<span class=" ms-5 fs-5 fw-semibold"><i class="bi bi-arrow-left fs-4 me-2"></i>Top deals</span>
    </div>
</div>
<div class="container-fluid p-3 text-bg-light">
<div class="row">
<div class="col-md-6 text-center">
<span>Showing Medicine Availability and Price in &nbsp;<span class="text-primary ms-1">Bangaluro,560029</span></span>
</div>
</div>
</div>

<div class="container mt-5">
<h4>Shop By Categories</h4>

<div class="row mt-2" *ngFor="let item of topDealsByCategoryData">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{item.categoryName}}</h5>
          </div>
      </div>
    </div>
</div>